<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <!-- Meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="DexignZone">
    <meta name="robots" content="">
    <meta name="keywords"
        content="bootstrap, courses, education admin template, educational, instructors, codeigniter, learning admin, learning admin theme, learning application, lessons, lms admin template, lms rails, quizzes ui, school admin">
    <meta name="description"
        content="Owlio is a clean-coded, responsive CodeIgniter template that can be easily customised to fit the needs of various instructors and lms admin template, educational, learning application, lessons, and other businesses.">
    <meta property="og:title" content="Owlio - CodeIgniter School Admission Admin Dashboard Template">
    <meta property="og:description"
        content="Owlio is a clean-coded, responsive CodeIgniter template that can be easily customised to fit the needs of various instructors and lms admin template, educational, learning application, lessons, and other businesses.">
    <meta property="og:image" content="https://owlio.dexignzone.com/codeigniter/social-image.png">
    <meta name="format-detection" content="telephone=no">

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- PAGE TITLE HERE -->
    <title>PB Education Online Learning System</title>

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
    <link href="/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">

</head>
<style>
    @media print {
        .btn {
            display: none;
        }
    }
</style>

<body class="body  h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="media d-flex align-items-center justify-content-end my-2">
                    <img src="assets/images/pblogo.webp" class="rounded me-2 float-end" width="150" alt="">
                </div>
                <div class="col-md-12">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header text-center d-flex justify-content-center">
                                <h4 class="card-title text-center">Weekly Lecture List => General Information</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered verticle-middle table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Course</th>
                                                <th scope="col">Tutor</th>
                                                <th scope="col">Topic</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each formNew}}
                                            <tr>
                                                <td>{{@index}}</td>
                                                <td>{{questAndAnswer.4.answer}} / {{questAndAnswer.3.answer}}</td>
                                                <td>{{questAndAnswer.6.answer.lessonName}}</td>
                                                <td>{{questAndAnswer.1.answer.userName}} {{questAndAnswer.1.answer.userSurname}}</td>
                                                <td>{{questAndAnswer.8.answer}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header text-center d-flex justify-content-center">
                                <h4 class="card-title text-center">Weekly Lecture List => Performance</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered verticle-middle table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Attandance</th>
                                                <th scope="col">Participation Level</th>
                                                <th scope="col">Lesson Comprehension</th>
                                                <th scope="col">Productivity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each formNew}}
                                            <tr>
                                                <td>{{@index}} </td>
                                                <td>{{questAndAnswer.4.answer}} / {{questAndAnswer.3.answer}}</td>
                                                <td>{{questAndAnswer.5.answer}}</td>
                                                <td>{{questAndAnswer.11.answer}}</td>
                                                <td>{{questAndAnswer.12.answer}}</td>
                                                <td>{{questAndAnswer.13.answer}}</td>
                                                <td>{{questAndAnswer.14.answer}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">General Impressions & Suggestion/Concern for Future Lessons:</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table align-middle">
                                        <tbody>
                                            {{#each formNew}}
                                            <tr>
                                                <td><strong>{{questAndAnswer.6.answer.lessonName}} ({{questAndAnswer.4.answer}} /
                                                        {{questAndAnswer.3.answer}})</strong></td>
                                                <td>General Impressions=> {{questAndAnswer.15.chatgptAnswer}} <br>
                                                    Concern for Future Lessons=> {{questAndAnswer.16.chatgptAnswer}}
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger light" onclick="print()">Print</button>

                </div>
            </div>
        </div>
    </div>
    <!--**********************************
	Scripts
***********************************-->
    <!-- Required vendors -->
    <script src="/assets/vendor/global/global.min.js"></script>
    <script src="/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/assets/js/custom.min.js"></script>
    <script src="/assets/js/deznav-init.js"></script>
</body>

</html>