<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">{{link}} List</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Accounting</a></li>
                                <li class="breadcrumb-item active">{{link}} List</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-lg-12">
                    <form action="/accounting/change/{{link}}" method="post">

                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0">{{link}} List</h4>
                            </div><!-- end card header -->

                            <div class="card-body">
                                <div id="customerList">
                                    <div class="row g-4 mb-3">
                                        <div class="col-sm-auto">
                                            <div class="row d-flex justify-content-start">
                                                <div class=" d-flex align-items-center justify-content-start">
                                                    <input type="text" name="moneyToBePaid"
                                                        class="form-control input-default w-25 float-end mx-2"
                                                        placeholder="Money to Be Paid" value="">
                                                    <input type="text" name="moneyPaid"
                                                        class="form-control input-default w-25 float-end mx-2"
                                                        placeholder="Money Paid" value="">
                                                    <input type="text" name="feePerLesson"
                                                        class="form-control input-default w-25 float-end mx-2"
                                                        placeholder="Lesson Price" value="">
                                                    <button class="btn btn-danger btn-xs shadow sharp me-1"
                                                        name="action" value="send" type="submit"
                                                        title="Add All Weeks"><i
                                                            class="ri-edit-fill color-muted"></i></button></strong>
                                                    <button class="btn btn-primary btn-xs shadow sharp me-1"
                                                        name="action" value="balance" type="submit" title="Same"><i
                                                            class="las la-balance-scale"></i></button></strong>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="d-flex justify-content-sm-end">
                                                <div class="search-box ms-2">
                                                    <input type="text" class="form-control search"
                                                        placeholder="Search...">
                                                    <i class="ri-search-line search-icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="table-responsive table-card mt-3 mb-1">
                                        <table class="table align-middle table-nowrap" id="customerTable">
                                            <form action="/course/course-timeList/desicion/" method="post">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th scope="col" style="width: 50px;">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="checkAll" value="option">
                                                            </div>
                                                        </th>
                                                        <th class="sort">Name Surname</th>
                                                        <th class="sort">Weekly Lesson</th>
                                                        <th class="sort">Money to Be Paid</th>
                                                        <th class="sort">Money Paid</th>
                                                        <th class="sort">Remaining</th>
                                                        <th class="sort">Lesson Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="list form-check-all">
                                                    {{#each user}}
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox"
                                                                    value="{{_id}}" name="selected" value="option1">
                                                            </div>
                                                        </th>
                                                        <td>
                                                            {{userName}} {{userSurname}}
                                                        </td>
                                                        <td>
                                                            {{lessonCount}}
                                                        </td>
                                                        <td>
                                                            <input type="text"
                                                                class="form-control input-default w-50 text-center"
                                                                value="{{moneyToBePaid}}" readonly>
                                                        </td>
                                                        <td>
                                                            <input type="text"
                                                                class="form-control input-default w-50 text-center"
                                                                value="{{moneyPaid}}" readonly>
                                                        </td>
                                                        <td>
                                                            <input type="text"
                                                                class="form-control input-default w-50 text-center"
                                                                value="{{substract moneyToBePaid moneyPaid}}" readonly>
                                                        </td>
                                                        <td>
                                                            <input type="text"
                                                                class="form-control input-default w-50 text-center"
                                                                value="{{feePerLesson}}" readonly>
                                                        </td>

                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </form>
                                        </table>
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div>
                    </form>
                    <!-- end col -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

</div>