<div class="content-body">
    <div class="container-fluid">
        <div class="form-head d-flex flex-wrap mb-sm-4 mb-3 align-items-center">
            <div class="me-auto  d-lg-block mb-3">
                <h2 class="text-black font-w700 mb-0">Accounting</h2>
            </div>
        </div>




        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Payment History</h4>
                        <h2 class="card-title">
                            <span class="text-success">Total Incoming:{{totalIncoming}}₺</span>
                            <br><span class="text-danger">Total Outgoing:{{totalOutgoing}}₺</span><br> Remain:
                            {{substract totalIncoming totalOutgoing }}₺
                        </h2>

                        <form action="/accounting/t-account/history" method="post">
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col-md-4 mx-4">
                                    <p class="mb-1">Start Date</p>
                                    <input type="date" name="startDate" value="{{moment startD}}" id="">
                                </div>
                                <div class="col-md-4 mx-3">
                                    <p class="mb-1">End Date</p>
                                    <input type="date" name="endDate" value="{{moment endD}}" id="">
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary mr-2" type="submit">Filter</button>
                                </div>
                        </form>
                    </div>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-responsive-lg mb-4 dataTablesCard card-table text-black"
                            id="example5">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Amount</th>

                                </tr>
                            </thead>
                            <tbody>
                                {{#each paymentHistory}}
                                {{#if (eq type "outgoing")}}
                                <tr>
                                    <td>{{moment date}}</td>
                                    <td><span class="text-danger">-{{amount}}₺</span></td>
                                </tr>
                                {{/if}}
                                {{#if (eq type "incoming")}}
                                <tr>
                                    <td>{{moment date}}</td>
                                    <td><span class="text-success">+{{amount}}₺</span></td>
                                </tr>
                                {{/if}}
                                {{/each}}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
