<div class="content-body" style="min-height: 862px;">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-2 p-md-0">
                <div class="welcome-text">
                    <h4>Course</h4>
                    <p class="mb-0">Course List</p>
                </div>
            </div>
            <form action="/course/filter-courseList" method="post">

                <div class="col-sm-10 row p-md-0 mt-2 mt-sm-0 d-flex">
                    <div class="col-md-3">
                        <div class="form-group mb-4">
                            <select class="form-control default-select" name="week">
                                <option selected="" disabled>Week</option>
                                {{#each weeklyTable}}
                                <option value="{{week}}">{{week}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group mb-4">
                            <select class="form-control default-select" name="student">
                                <option selected="" disabled>Student</option>
                                {{#each user}}
                                {{#if (eq role "Student")}}
                                <option value="{{_id}}">{{userName}} {{userSurname}} </option>
                                {{/if}}
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group mb-4">
                            <select class="form-control default-select" name="teacher">
                                <option selected="" disabled>Teacher</option>
                                {{#each user}}
                                {{#if (eq role "Teacher")}}
                                <option value="{{_id}}">{{userName}} {{userSurname}} </option>
                                {{/if}}
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </div>
            </form>

        </div>
        <!-- row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Course List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-responsive-md">
                                <form action="/course/course-registration/requestDesicion/" method="post">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                                    <input type="checkbox" class="form-check-input" id="checkAll"
                                                        >
                                                </div>
                                            </th>
                                            <th><strong>Teacher Name</strong></th>
                                            <th><strong>Student Name</strong></th>
                                            <th><strong>Course</strong></th>
                                            <th><strong>Type</strong></th>
                                            <th><strong>Week</strong></th>
                                            <th><strong>Day</strong></th>
                                            <th><strong>Time</strong></th>
                                            <th><strong>Begin</strong></th>
                                            <th><strong>
                                                    <button class="btn btn-danger btn-xs shadow sharp me-1"
                                                        name="action" value="send" type="submit" title="Add Planned"><i
                                                            class="fa fa-pencil color-muted"></i></button></strong>
                                                <button class="btn btn-primary shadow btn-xs sharp me-1" name="action"
                                                    type="submit" value="delete"><i class="fa fa-trash"></i></button></strong>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each courses}}
                                        <tr>
                                            <td>
                                                <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                                    <input type="checkbox" class="form-check-input" value="{{_id}}"
                                                        name="selected" id="customCheckBox2">
                                                </div>
                                            </td>
                                            <td> {{#each teacherName}} {{userName}} {{userSurname}} {{/each}} </td>
                                            <td>{{#each studentName}} {{userName}} {{userSurname}} {{/each}}</td>
                                            <td>{{courseCode.lessonCode}} - {{courseCode.lessonName}} </td>
                                            <td>{{courseType}}</td>
                                            <td>{{../week}}</td>
                                            <td>{{courseDay}} </td>
                                            <td>DÜZELTİLECEK</td>
                                            <td>{{courseHour}}:{{courseMinute}}</td>
                                            {{!-- <td>
                                                <div class="dropdown float-end custom-dropdown c-pointer mb-0">
                                                    <div class="" data-bs-toggle="dropdown">
                                                        <svg class="primary-icon" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z"
                                                                stroke="#2E2E2E" stroke-width="2" stroke-linecap="round"
                                                                stroke-linejoin="round"></path>
                                                            <path
                                                                d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z"
                                                                stroke="#2E2E2E" stroke-width="2" stroke-linecap="round"
                                                                stroke-linejoin="round"></path>
                                                            <path
                                                                d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z"
                                                                stroke="#2E2E2E" stroke-width="2" stroke-linecap="round"
                                                                stroke-linejoin="round"></path>
                                                        </svg>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <form
                                                            action="/course/course-registration/requestToPlanned/{{_id}}"
                                                            method="post">
                                                            <a class="dropdown-item text-success"
                                                                href="javascript:void(0);"
                                                                onclick="parentNode.submit();">Add
                                                                Planned</a>
                                                        </form>
                                                        <form
                                                            action="/course/course-registration/request/delete/{{_id}}?_method=DELETE"
                                                            method="post" onsubmit="submitForm(this)">
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <a class="dropdown-item text-danger"
                                                                href="javascript:void(0);"
                                                                onclick="submitForm(this)">Delete</a>
                                                        </form>
                                                    </div>
                                                </div>
                                            </td> --}}
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </form>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>