<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Course Registration Request</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Course</a></li>
                                <li class="breadcrumb-item active">Course Registration Request</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Planned Course Registration Request</h4>
                        </div><!-- end card header -->

                        <div class="card-body">
                            <div id="customerList">
                                <div class="row g-4 mb-3">
                                    <div class="col-sm-auto">
                                        <div>
                                            <form action="/course/filter-courseList" method="post">

                                                <div class="col-sm-10 row p-md-0 mt-2 mt-sm-0 d-flex">
                                                    <div class="col-md-3">
                                                        <div class="form-group mb-4">
                                                            <select class="form-control default-select" name="week">
                                                                <option selected="" disabled>Week</option>
                                                                {{#each weeklyTable}}
                                                                <option value="{{week}}">{{week}}</option>
                                                                {{/each}}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group mb-4">
                                                            <select class="form-control default-select" name="student">
                                                                <option selected="" disabled>Student</option>
                                                                {{#each user}}
                                                                {{#if (eq role "Student")}}
                                                                <option value="{{_id}}">{{userName}} {{userSurname}}
                                                                </option>
                                                                {{/if}}
                                                                {{/each}}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group mb-4">
                                                            <select class="form-control default-select" name="teacher">
                                                                <option selected="" disabled>Teacher</option>
                                                                {{#each user}}
                                                                {{#if (eq role "Teacher")}}
                                                                <option value="{{_id}}">{{userName}} {{userSurname}}
                                                                </option>
                                                                {{/if}}
                                                                {{/each}}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <button type="submit" class="btn btn-primary">Filter</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="d-flex justify-content-sm-end">
                                            <div class="search-box ms-2">
                                                <input type="text" class="form-control search" placeholder="Search...">
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive table-card mt-3 mb-1">
                                    <table class="table align-middle table-nowrap" id="customerTable">
                                        <form action="/course/course-registration/requestDesicion/" method="post">
                                            <thead class="table-light">
                                                <tr>
                                                    <th scope="col" style="width: 50px;">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="checkAll" value="option">
                                                        </div>
                                                    </th>
                                                    <th class="sort">Teacher Name</th>
                                                    <th class="sort">Student Name</th>
                                                    <th class="sort">Course</th>
                                                    <th class="sort">Type</th>
                                                    <th class="sort">Day</th>
                                                    <th class="sort">Time</th>
                                                    <th class="sort">Begin</th>
                                                    <th><strong>
                                                            <button class="btn btn-danger btn-xs shadow sharp me-1"
                                                                name="action" value="send" type="submit"
                                                                title="Add To Planned"><i
                                                                    class="ri-edit-fill"></i></button></strong>
                                                        <button class="btn btn-primary shadow btn-xs sharp me-1"
                                                            name="action" type="submit" value="delete"><i
                                                                class="ri-delete-bin-2-line"></i></button></strong>

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all">
                                                {{#each courses}}
                                                <tr>
                                                    <th scope="row">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                value="{{_id}}" name="selected" value="option1">
                                                        </div>
                                                    </th>
                                                    <td>{{#each teacherName}} {{userName}} {{userSurname}} {{/each}}
                                                    </td>
                                                    <td>{{#each studentName}} {{userName}} {{userSurname}} {{/each}}
                                                    </td>
                                                    <td>{{courseCode.lessonCode}} - {{courseCode.lessonName}} </td>
                                                    <td>{{courseType}}</td>
                                                    <td>{{courseDay}} </td>
                                                    <td>DÜZELTİLECEK</td>
                                                    <td>{{courseHour}}:{{courseMinute}}</td>

                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </form>
                                    </table>
                                </div>
                            </div>
                        </div><!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

</div>